.cardContainer{
    flex-direction: column;
    min-width: 30%;
}
.cardContent{
    overflow: scroll;
    height: 85%;
}

.actionsCard{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}
.cardHeader{
    justify-content: space-between;
    padding: 1rem;
}
.cardHeader p{
    font-weight: 700;
}
.cardContent>div{
    width: 100%;
}