.cardContainer{
    flex-direction: column;
    min-width: 30%;
    background-color: #E9E9E9;
}
.cardContent{
    overflow: scroll;
    height: 85%;
}

.actionsCard{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}
.cardHeader{
    justify-content: space-between;
    padding: 1rem;
}
.cardHeader p{
    font-weight: 700;
}
.cardContent>div{
    width: 100%;
}
.dragged-over{
    background-color: #d0cfcf;
}
.today{
    background-color: #BEA0FF;
}