.cardActionContainer{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    padding: 1rem;
    background-color: white;
    width: 90%;
    user-select: none;
}

.cardActionTitle{
    font-weight: 600;
}

.cardActionHour{
    font-weight: 300;
}